* {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    background-image: url(/Images/lady.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 10em; */
    /* padding: 5em 0;    */
    padding-bottom: 3em;
    padding-top: 2.5em;
}
h1 {
    color:#fff;
    margin-bottom: 2em;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav div a {
    background-color: #fff;
    font-weight: bold;
    padding: 1.7vh 7vw;
    border: white solid 1px;
    border-radius: 0.5em;
    opacity: 0.4;
}

nav div div a {
    text-decoration: none;
}

nav div a:hover {
    opacity: 1;
    color: red;
}



section {
    display: flex;
}

.image-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(80,75%,15%);
    padding-bottom: 8em;
}

figure {
    width: 180px;
    height: 150px;
    margin: 0 2em;
    margin-top: 1.8em;
    border: #000 solid 2px;
}
.image-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-part {
    margin: 2.7em 0;
}
.text-part .big-font {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.8em;
}

.invisible{
    background-color: aqua;
    visibility: hidden;
    margin: 2em 0;
}
.hide-me:hover div {
    visibility: visible;
}

.last-breath {
    background-color: blueviolet;
    margin: 2em 0;
    visibility: hidden;
}

.hide-me:hover .last-breath {
    visibility: visible;
}

/* 
why do the elements below absolutely positioned elements
not show in the browser?
*/