/* * {
     margin: 0;
} */



h1 {
     color:hsl(23,40%,68%)
}

h2 {
     color:hsl(0,100%,50%)
}
.space {
     margin-top: 200px;
     background-color:rgba(140,0,0,0.8);
}
.bk-ground {
     background-color:hsl(200,85%,40%) ;
     background-image: url("/Images/new_rose.PNG");
     margin: auto;
     padding:500px 100px;
     width: 800px;
     /* color:hsl(50, 50%, 100%); */
     background-repeat:no-repeat;
     background-position:right top;
     /* background-size:cover ;  */  
     background-attachment:scroll; 
     /* background-origin: left; */
}
/* .bk-ground {
     background-color:hsl(0,50%,50%);
} */

p.grove {
     border-style: groove;
     border-width: 20px 5px 10px 20px;
}
p.outset {
     border-style: outset;
}
p.mixed {
     border-style: double inset solid dashed;
}
form {
     margin-top: 30px;
}
.label {
     display: table-row;
}
.form-example input {
     display: table-cell;
     margin-top: 20px;
}
.label label {
     display: table-cell;
     margin-top: 20px;
}
input {
     margin-left: 6px;
}
.tx {
     margin-top: 30px;
}
.joy {
     font-weight: bold;
}
.select {
     margin-top: 20px;
}


.box{
   width: 200px;
   height: 200px;
   position: absolute;
}

#one {
  background: red;
  top: 100px;
  left: 150px;
  z-index: 1;
  color:#000
}
#two {
  background: yellow;
  top: 80px;
  left: 100px;
  color: #000;
}
.wrapper {
     width: 450px;
     height: 350px;
     background-color: #000;
     color: #fff;
     position: relative;
}
.fixed {
     height: 20px;
     width: 190px;
     background-color:hsl(150,25%,65%);
     position: fixed;
     /* bottom: 00px;
     right: 00px; */
}

hr {
     margin-bottom: 4em;
     height: 1em;
     background-color: #555;
}

/* .text-part {
     position: relative;
}  */

/* .text{
     position: absolute;
      visibility: hidden;
}  */



.text-1 {
     background-color: #0da120;
     /* z-index: 1; */
     margin-top: 3em;
     visibility: hidden;
}
.text-2 {
     background-color: #4acbf1;
     

}
.text-3 {
     background-color: #b076ca;
}
.text-4 {
     background-color: #efac1f;
}

a {
     text-decoration: none;
}

.text-part .links  {
   display: inline;
   text-decoration: none;
   background-color: #000;
   padding: 1em 2em;
   border-radius: 0.6em;
   margin: 2em ;
}

.links:hover {
    background-color: hsl(83, 43%, 31%);
}


.text-part  .four:hover + .text-1 {
   visibility: visible;
}


.hide-me {
     background-color: aqua;
     visibility: hidden; 
}
.hide-me:hover {
     visibility: visible;
} 

.sibling:first-child  {
     color: honeydew;
}



/* 
why do the elements below absolutely positioned elements
not show in the browser?
*/

/*
if you style a link by selecting the link element
like this: a {
               text-decoration: none;
               background-color: #000;
               padding: 1em 2em;
               border-radius: 0.6em;
               margin: 1em 2em;
           }
The link would not be styled properly if the link is
inside a div
 like this:  <div> <a href="">One</a></div>  
             <div><a href="">Two</a> </div>  
             <div> <a href="">Three</a></div>  
             <div> <a href="">Four</a></div>  
Why is that?
*/